{% extends 'base-others.html' %}

{% block banner %}
<div class="banner-area center">
    <div class="area">
        <div class="bodycontainer2">
            <h1 class="tlt text-white" style="margin: 20px 0;">AFFILIATE <span class="text-default">PROGRAM</span></h1>
            <div class="banner-title">
               <span class="decor-equal"></span>
            </div>
            <div  style="margin: 20px 0;">
                <a href="{% url 'home' %}">HOME</a> / AFFILIATE PROGRAM
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="bodycontainer2 padding">
    <br><br>
    <div class="title_container">
        <h4>Our Affiliate Program</h4>
        <span class="decor_default"></span>
    </div>
    <p>The growth of the company is impossible to imagine without the help of many customers and partners. Many of them have worked with us before and know what we can do. They helped us figure out our business strategy and make the first investment in trust management. It's now possible for anyone who works with us to become a partner and even make money through an affiliate link. After signing up, each person gets their own unique affiliate link (which contains his username). Please click this link if you want to sign up as an investor. Just email your friend this link. The moment your friend clicks on a link and signs up, he is now your referral.</p>
    
    <blockquote>Every deposit of your referral will bring you a reward in the amount of 7% and $2 for Referral Registration.</blockquote>
    <p>After you make a deposit, your affiliate commission is automatically added to your account. You can use this money how you want. You can either take it out or use it to make a new deposit. To become an affiliate and start making money, you don't even need to have a deposit of your own. However, we remind you that the best proof of how well you did at investing is when you did it yourself.</p>
</div>

<br><br>

{% endblock content %}