{% extends 'base-others.html' %}

{% block banner %}
<div class="banner-area center">
    <div class="area">
        <div class="bodycontainer2">
            <h1 class="tlt text-white" style="margin: 20px 0;">TERMS <span class="text-default">AND CONDITIONS</span></h1>
            <div class="banner-title">
               <span class="decor-equal"></span>
            </div>
            <div  style="margin: 20px 0;">
                <a href="{% url 'home' %}">HOME</a> / TERMS AND CONDITIONS
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="bodycontainer">
	<br><br>
<div class="title_container">
	<h4>Please read the following rules carefully before signing in.</h4>
	<span class="decor_default"></span>
</div><ol>
 <li>Simple Capital FX is very different from its competitors. It starts with the website design, trading platform, and is very easy to use. Traders have known about Simple Capital FX for a while now. The broker is great for traders because it has a solid mining/trading platform and a wide range of assets to invest in and trade.</li>
 </ol>
</div>

{% endblock %}