{% load static %}

<div class="center">
    <h1 class="tlt text-white">
      ABOUT
      <span class="text-default">US</span>
    </h1>
    <p class="sub_tlt">MOST FLEXIBLE CRYPTOCURRENCY INVESTMENT COMPANY</p>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-6 center">
      <img src="{% static 'images/about-us.jpg' %}" />
    </div>
    <div class="col-6">
      <h2 class="text-white">WE ARE Simple Capital FX</h2>
      <p>
        We are a unique investment firm that provides our clients with
        access to high-growth investment possibilities in the Bitcoin
        markets, as well as other services, under our Crypto Cloak brand.
        By operating our business, we are able to adopt best practices in
        Bitcoin trading and mining while still maintaining a high level of
        flexibility in our investment plans. Our organization has the
        support of a large number of international customers.
      </p>
      <div id="tabs" style="margin-bottom: 20px;">
        <ul>
          <li><a href="#tabs-1">OUR MISSION</a></li>
          <li><a href="#tabs-2">OUR ADVANTAGES</a></li>
          <li><a href="#tabs-3">OUR GUARANTEES</a></li>
        </ul>
        <div id="tabs-1">
          <p>
            Ultimately, we want to put our skills and knowledge to good
            use for our clients and for those who use our services as a
            whole.
          </p>
        </div>
        <div id="tabs-2">
          <p>
            Our objective as an official partner of the Bitcoin Foundation
            is to assist you in entering and better understanding the
            world of the world's most popular cryptocurrency while
            avoiding any complications that may arise.
          </p>
        </div>
        <div id="tabs-3">
          <p>
            Since we are passionate about open, transparent markets and
            want to be a significant driving factor in broad adoption, we
            have established ourselves as the top cryptocurrency investing
            firm in the world.
          </p>
        </div>
      </div>
      <a
        href="https://find-and-update.company-information.service.gov.uk/company/"
        class="btn default"
        target="_blank"
      >
        CHECK COMPANY CERTIFICATE
      </a>
    </div>
  </div>