{% load static %}

<section class="boxes-area pb-70">
    <div class="container">
        <div class="row file" >
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <!-- <i class="flaticon-research"></i> -->
                        <img src="{% static '../en/img/bg/rocket.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Financial Well-Being</a></h3>
                    <p>
                        We help you understand your complete financial picture
                        through a combination of thoughtful and extensive financial
                        planning and prudent investment management.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static '../en/img/bg/announce.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Continuous Evolution</a></h3>
                    <p>We continue to evolve from a traditional investment management firm to a full-service wealth manager to simplify your life by advising you on all your financial needs.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static '../en/img/bg/announc image.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Global Insights</a></h3>
                    <p>
                        You’ll have unfettered access to experts who are regularly sought after by the world’s
                        most prominent media outlets for their insights on trends in global markets and
                        the economy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static '../en/img/bg/social.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Financial Well-Being</a></h3>
                    <p>
                        We help you understand your complete financial picture
                        through a combination of thoughtful and extensive financial
                        planning and prudent investment management.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static '../en/img/bg/marketing.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Continuous Evolution</a></h3>
                    <p>We continue to evolve from a traditional investment management firm to a full-service wealth manager to simplify your life by advising you on all your financial needs.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static '../en/img/bg/folder.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Global Insights</a></h3>
                    <p>
                        You’ll have unfettered access to experts who are regularly sought after by the world’s
                        most prominent media outlets for their insights on trends in global markets and
                        the economy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>