<div class="banner-area center">
    <div class="area">
        <div class="bodycontainer2">
            <h1 class="tlt text-white" style="margin: 20px 0;">AFFILIATE <span class="text-default">PROGRAM</span></h1>
            <div class="banner-title">
               <span class="decor-equal"></span>
            </div>
            <div  style="margin: 20px 0;">
                <a href="{% url 'home' %}">HOME</a> / AFFILIATE PROGRAM
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
</div>