{% load static %}

<div class="footer_bg center">
	<div class="area">
		<div class="bodycontainer">
			<div style="z-index:2; position: relative">
				<h2 class="margintb">GET STARTED TODAY WITH BITCOIN INVESTMENT</h2>
				<p class="margintb">Open account for free and start trading Bitcoins!</p>
				<a href="secured/users/register.html" class="btn">GET STARTED</a>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="bodycontainer">
	  <div class="row">
		<div class="col-2 col-m-4 col-sm-12">
		  <div class="padding">
			<h3>QUICK LINKS</h3>
			<ul>
			  <li><a href="index.html">Home</a></li>
			  <li><a href="about.html">About Us</a></li>
			  <li><a href="faq.html">FAQS</a></li>
			  <li><a href="terms.html">TERMS AND CONDITIONS</a></li>
			  <li><a href="contact.html">CONTACT US</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-2 col-m-4 col-sm-12">
		  <div class="padding">
			<h3>HELP & SUPPORT</h3>
			<ul>
			  <li>
				<a
				  href="https://cointelegraph.com/bitcoin-for-beginners/what-are-cryptocurrencies"
				  target="_blank"
				  >WHAT IS BITCOIN?</a
				>
			  </li>
			  <li>
				<a
				  href="https://www.investopedia.com/tech/how-to-buy-bitcoin/"
				  target="_blank"
				  >HOW TO BUY BITCOIN</a
				>
			  </li>
			  <li><a href="secured/users/register.html">REGISTER</a></li>
			  <li><a href="secured/users/index.html">LOGIN</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-3 col-m-4 col-sm-12">
		  <div class="padding">
			<h3>CONTACT US</h3>
			<ul>
			  <li>
				Simple Capital FX , 44 E 14TH ST, NY 10003 NEW YORK, UNITED
				STATES
			  </li>
			</ul>
			<a href="mailto://support@simplecapitalfx.com"
			  ><h3>support@simplecapitalfx.com</h3></a
			>
			<!-- 				<a href="tel: +1 (872)365-9070"> +1 (872)365-9070</a>
-->
			<ul>
			  <li>MON-SAT 08AM ⇾ 05PM</li>
			  <li>Phone ⇾ +1(786) 477-5545</li>
			</ul>
		  </div>
		</div>
		<div class="col-5 col-m-12 col-sm-12">
		  <div
			class="elfsight-app-d659e344-0131-45c5-9c5f-988c0773b276"
		  ></div>
		</div>
	  </div>
	  <hr />

	  <div class="social-con">
		<h6 style="color: #00aaff">Community</h6>
		
<!-- TrustBox script -->
<script type="text/javascript" src="{% static '../widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js' %}" async></script>
<!-- End TrustBox script -->

<!-- TrustBox widget - Micro Review Count -->
<div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="632cfdfa61bd912103ce4b57" data-style-height="24px" data-style-width="100%" data-theme="dark" data-min-review-count="0" data-without-reviews-preferred-string-id="1" data-style-alignment="center">
  <a href="https://www.trustpilot.com/review/simplecapitalfx.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
		
		
		<ul>
		  <li>
			<a href="#"><i class="fa fa-facebook"></i></a>
		  </li>
		  <li>
			<a href="#"
			  ><i class="fa fa-twitter"></i
			></a>
		  </li>
		  <li>
			<a href="#"
			  ><i class="fa fa-linkedin"></i
			></a>
		  </li>
		  <li>
			<a href="https://instagram.com/cryptocloakfx?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
		  </li>
		</ul>
	  </div>
	  <hr />
	  <p class="center">
		Copyright © 2022 Simple Capital FX, All Rights Reserved
	  </p>
	</div>
  </footer>