{% load static %}

  <!--  slider section  -->
  <div class="banner-container">
    <div class="row">
      <div class="col-5 col-m-5">
        <div class="banner-inner-text">
          <h1 class="display-c" styles="display:block;">
            &nbsp;
            <span style="color: #00aaff;">A Trusted</span>
            &nbsp;And
            <br />
            Secure&nbsp;Cryptocurrency
            <br />
            Exchange
          </h1>
          <h1 class="display-m" styles="display:none;">
            A Trusted And Secure Cryptocurrency Exchange
          </h1>
          <p>
            Invest, sell, trade, and earn cryptocurrency using the simplest
            and most secure cryptocurrency exchange platform on the market.
          </p>
          <a href="secured/users/register.html" class="inner-btn">
            Get Started
          </a>
        </div>
      </div>
      <div class="col-7 col-m-7">
        <div class="inner-img">
          <img src="{% static 'images/simplecapitalfxcomputer.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!--  slider section  -->

  <script src="{% static 'trade/js/jquery.fittext.js' %}"></script>
  <script>
    $('.headering').fitText(1.3, { minFontSize: 35 })
  </script>
  <div class="dark">
    <div class="bodycontainer" style="padding: 0 30px;">
      <div
        class="row"
        style="
          background: #130e1e;
          top: -40px;
          position: relative;
          text-align: left;
        "
      >
        <div class="col-4">
          <div class="col-3 col-m-4 center">
            <img src="{% static 'images/download-bitcoin.png' %}" />
          </div>
          <div class="col-9 col-m-8 center-sm">
            <h5 class="text-white">Open an account</h5>
            <p>
              Create an account on our platform in order to begin taking
              advantage of our services and reaping large and reliable returns
              on investments and cloud mining operations.
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-3 col-m-4 center">
            <img src="{% static 'images/add-bitcoins.png' %}" />
          </div>
          <div class="col-9 col-m-8 center-sm">
            <h5 class="text-white">Add Funds & Start Investment</h5>
            <p>
              Add bitcoins or ethereum that you've purchased or traded for
              dollars with just a credit card to your account.
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-3 col-m-4 center">
            <img src="{% static 'images/buy-sell-bitcoins.png' %}" />
          </div>
          <div class="col-9 col-m-8 center-sm">
            <h5 class="text-white">Withdraw Your Profit</h5>
            <p>
              Request a withdrawal and you will get it within one business
              day.
            </p>
          </div>
        </div>
      </div>

      <div
        style="
          height: 62px;
          background-color: #1d2330;
          overflow: hidden;
          box-sizing: border-box;
          border: 1px solid #282e3b;
          border-radius: 4px;
          text-align: right;
          line-height: 14px;
          block-size: 62px;
          font-size: 12px;
          font-feature-settings: normal;
          text-size-adjust: 100%;
          box-shadow: inset 0 -20px 0 0 #262b38;
          padding: 1px;
          padding: 0px;
          margin: 0px;
          width: 100%;
          margin:1rem auto;
        "
      >
        <div style="height: 40px; padding: 0px; margin: 0px; width: 100%;">
          <iframe
            src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover="
            width="100%"
            height="36px"
            scrolling="auto"
            marginwidth="0"
            marginheight="0"
            frameborder="0"
            border="0"
            style="border: 0; margin: 0; padding: 0;"
          ></iframe>
        </div>
        <div
          style="
            color: #626b7f;
            line-height: 14px;
            font-weight: 400;
            font-size: 11px;
            box-sizing: border-box;
            padding: 2px 6px;
            width: 100%;
            font-family: Verdana, Tahoma, Arial, sans-serif;
          "
        >
          <a
            href="https://coinlib.io"
            target="_blank"
            style="
              font-weight: 500;
              color: #626b7f;
              text-decoration: none;
              font-size: 11px;
            "
          >
            Cryptocurrency Prices
          </a>
          &nbsp;by Coinlib
        </div>
      </div>
      
    </div>
  </div>