
<nav class="center">
    <div class="bodycontainer">
        <ul>
            <li><a href="{% url 'home' %}" class="active">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT US</a></li>
            <li><a href="{% url 'plans' %}">INVESTMENT PLANS</a></li>
            <li><a href="#">LEGAL <i class="fa fa-chevron-down"></i></a>
                <ul>
                    <li><a href="{% url 'terms' %}">TERMS & CONDITIONS</a></li>
                    <li><a href="{% url 'faq' %}">FAQS</a></li>
                </ul>
            </li>
            <li><a href="{% url 'contact' %}">CONTACT US</a></li>
            <li><a href="{% url 'affiliate' %}">AFFILIATE</a></li>
        </ul>
    </div>
</nav>