{% load static %}

<div class="dark reviews">
    <div class="row lineup">
      <div class="col-4 col-m-12 testimony-lightbox">
        <div class="bodycontainer center-mode" style="position: relative;">
          <h1 class="trust-pilot">Trustpilot</h1>
          <ul class="testimonials" style="padding: 40px 20px;">
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    Thanks guys for such competence. its great working with
                    the Simple Capital FX team
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'trade/images/avatar.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">Annie</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    Coming across Simple Capital FX Investmnt company has been
                    one of the best things that happened to me, i earn passive
                    income thanks to you guys
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'trade/images/avatar.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">Allen Woods</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    I make $300 fortnightly from Simple Capital FXInvestment
                    Company thank you for giving me this opportunity God bless
                    Malachi
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'images/avatar.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">Ryan</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    I got my first investment profit of $15k. Big thanks to
                    you guys at Simple Capital FX.???
                  </p>
                </span>
              </div>
              <div class="author">
                <img
                  src="{% static 'trade/uploads/small/8671597592136.png' %}"
                  class="circle"
                />
                <div style="margin-top: 10px;" class="bold">Robert Pope</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    Big shout out to you guys at Simple Capital FX. I just got
                    my Bitcoin back. I love you guyz
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/8211597591949.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">Steve Walter</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    I&#39;m indeed grateful. I want to thank you guys for
                    keeping to your words.
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/4991597591857.png" class="circle" />
                <div style="margin-top: 10px;" class="bold">Ruth Allison</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    Thank you Simple Capital FX. I&#39;m debt free. I have
                    been able to repay my loan of $64,000????
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/6981597591504.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">
                  Veronica Keith
                </div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    Thank you Simple Capital FX. You guys are amazing. I just
                    recovered my lost bitcoin of 2.6BTC. ????
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/4941597591323.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">
                  Abraham willard
                </div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    I want to thank Simple Capital FX, i just received the sum
                    of $17k from my investment. My whole family is indeed
                    happy. I&#39;m hoping to invest big by next week.
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/5761597590797.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">
                  Fatimah Harmed
                </div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    I&#39;m now a super woman because of you guys. Thank you
                    Simple Capital FX.
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/5321597006964.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">
                  Hanna jackson
                </div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>Thank you Simple Capital FX.</p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/5221597006888.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">Howard keil</div>
              </div>
            </li>
            <li>
              <div class="padding">
                <span class="comment">
                  <p>
                    You guys are amazing. Thank you now I&#39;m financially
                    stable. Simple Capital FX is the best
                  </p>
                </span>
              </div>
              <div class="author">
                <img src="{% static 'uploads/small/6961597006775.png' %}" class="circle" />
                <div style="margin-top: 10px;" class="bold">Oliver moore</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8 col-m-12 center">
        <div class="bodycontainer">
          <div
            class="btcwdgt-chart"
            bw-theme="dark"
            style="width: 100%;"
          ></div>
        </div>
      </div>
    </div>
  </div>