{% extends 'base-others.html' %}

{% block banner %}
<div class="banner-area center">
    <div class="area">
        <div class="bodycontainer2">
            <h1 class="tlt text-white" style="margin: 20px 0;">USER <span class="text-default">LOGIN</span></h1>
            <div class="banner-title">
               <span class="decor-equal"></span>
            </div>
            <div  style="margin: 20px 0;">
                <a href="{% url 'home' %}">HOME</a> / LOGIN 
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="smallcontainer padding">
  <form method="post" action="{% url 'account_login' %}">
      <div class="title_container">
          <h4>Login Authentication</h4>
          <span class="decor_default"></span>
      </div>
        <!-- <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        <p> Use "Facial Recognition" for Login?
          <a href="{% url 'face-login' %}"> Facial Recognition Login </a> </p>
        <form class="login" method="POST" action="{% url 'account_login' %}"> -->
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="primaryAction btn btn-alt" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
{% endblock content %}

