{% extends 'user/main.html' %} {% load static %}{% load humanize %}{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <!--div class="row ">
              <div class="col-12">
                <div class="page-header" style="border: none; padding-bottom: 0px; margin-bottom: 10px;">
                    <h5 class="page-title"><i class="fa fa-database"></i> Investment Plans </h5>
                </div>
              </div>
    
            </div-->
    <div class="row">
      <div class='text-center px-2 py-3 w-100'> {% for message in messages %} <p class="text-center w-100" style="font-size:1.1rem;">{{message}}</p> {% endfor %}</div>
      
      <div class="col-12">
        <div class="card">
          <div class="card-body px-2">
            <h1 class="card-title text-center" style="font-size: 1.8rem;">Crypto Investment</h1>
            <div class="row pricing-table">
              
              {% for plan in plans %}
              <div class="col-md-4 grid-margin stretch-card pricing-card px-2 py-1">
                <div class="card border myBorder pricing-card-body py-1 px-3">
                  <div class="text-center pricing-card-head">
                    <h3 class="">{{ plan.plan_name | title }}</h3>
                    <p></p>

                  </div>
                  <ul class="list-unstyled plan-features myUl">
                    <li>Total Profit <b class=''>{{ plan.investment_profit_percent }}%</b></li>
                    <li>Duration <b class=''> {{ plan.number_of_days }} day(s)</b></li>
                    <li>Min Deposit <b class=''>{{ plan.investment_amount_lowest|intcomma }}</b></li>
                    <li>Max Deposit <b class=''>{{ plan.investment_amount_highest|intcomma }}</b></li>
                    <li>Referral Bonus <b class=''>5%</b></li>
                    <!--li>Withdrawal <b class='text-success'>Weekly</b></li-->
                  </ul>
                  
                <form action="/user/plans" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="form-control-label">Enter Amount: <span class="text-danger">*</span></label>
                    <input type="number" name='amount' placeholder="0000.00" min="{{ plan.investment_amount_lowest }}" max="{{ plan.investment_amount_highest }}" class="form-control">
                    <input type="text" name="plan_name" id="" value="{{ plan.plan_name }}" style="height: 0px;width:0px;overflow:hidden;background-color:transparent;opacity:0;">
                    <button class="btn btn-success btn-block mb-3 my-2" name="invest" type="submit">Make Deposit</button>
                  </div>
                </form>
                

                  
                </div>
              </div>
{% empty %}{% endfor %}
           

            </div>
          </div>
        </div>
      </div>

   


    </div>
  </div>



{% endblock content %}