{% extends 'user/main.html' %} {% load static %}{% block content %}
        <div class="main-panel">
          <div class="content-wrapper">
              <!--div class="row ">
              <div class="col-12">
                <div class="page-header" style="border: none; padding-bottom: 0px; margin-bottom: 10px;">
                    <h5 class="page-title"><i class="fa fa-commenting"></i> Get Support </h5>
                </div>
              </div>
    
            </div-->
                  
             <div class="row mt-1">
              
              
              <div class="col-md-6 offset-md-3">
                <div class="card">
                  <div class="card-body  px-2">
                    <h4 class="card-title">Contact Support</h4>
                    <form class="forms-sample" action="/user/support" method="POST">
                      {% csrf_token %}
                          <div class="form-group">
                            <label for="exampleInputPassword1">Subject</label>
                          <input type="text"  placeholder="Enter Subject"  name="subject" class="form-control" required>  
                          </div>
                            <div class="form-group">
                        <label for="exampleTextarea1">Message</label> 
                        <textarea  placeholder="Message *" name="body" rows="5" class="form-control" required></textarea> 
                            </div>
                          
                          <button type="submit" class="btn btn-success btn-block">Send A Message</button>
                        </form>
                  </div>
                </div>
              </div>
                  
            </div>
              
          </div>
            
       
      
    {% endblock content %}