{% extends 'user/main.html' %} {% load static %}{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <!--div class="row ">
              <div class="col-12">
                <div class="page-header" style="border: none; padding-bottom: 0px; margin-bottom: 10px;">
                    <h5 class="page-title"><i class="fa fa-exchange"></i> Transfer </h5>
                </div>
              </div>
    
            </div-->
    <div class="row">
      <div class='text-center px-2 py-3 w-100'> {% for message in messages %} <p class="text-center w-100" style="font-size:1.1rem;">{{message}}</p> {% endfor %}</div>

      <div class="col-md-6">
        <div class="card first">
          <div class="card-body px-2">
            <h4 class="card-title">Make Transfer</h4>
            <form class="forms-sample" action="" method="post">
              <div class="form-group">
                <label class="form-control-label">Choose Type of Transfer: <span class="text-danger">*</span></label>
                <select name="pack" class="form-control" id="pack" onchange="firstChange()">
                  <option label="Choose Type of Transfer"></option>
                  <option value="BTC">Bitcoin</option>
                  <option value="LTC">Litecoin </option>
                  <option value="XRP">XRP </option>
                  <option value="ETH">Etherum </option>
                </select>
              </div>


            </form>
          </div>
        </div>

        <div class="card second" style="display: none;">
          <div class="card-body px-2">
            <h4 class="card-title">Make Transfer</h4>
            <form class="forms-sample" action="" method="post">
              <div class="row">
                <div class="mb-3 col">
                  <label for="value" class="form-label">VALUE</label>
                  <input type="number" name="" id="value" class="form-control" style="background-color:#2a2c44; color:white;" oninput="getUsdtValue()" min="1">
                </div>
                <div class="mb-3 col">
                  <label for="usdtvalue" class="form-label">USDT VALUE</label>
                  <input type="number" name="" id="usdtvalue" class="form-control" style="background-color:#2a2c44;color:white;" min="1" readonly>
                  
                </div>
              </div>
              <div class="d-grid gap-2 d-flex justify-content-end py-2">
                <button type="button" class="btn btn-outline-light" onclick="secondChange()" id="second-button" style="display: none;">Proceed</button>
              </div>
                

            </form>
          </div>
        </div>


        <div class="card third" style="display: none;">
          <div class="card-body px-2">
            <h4 class="card-title">Make Transfer</h4>
            <form class="forms-sample" action="" method="post">
              <div class="form-group">
                <label class="form-control-label">Enter The Wallet Address <span class="text-danger">*</span></label>
                <input type="text" name="" id="wallet_address" class="form-control" value="" onchange="thirdChange()"
                  style="background-color:#2a2c44;">
              </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">


                <form action="/user/transfer" method="POST">
                  {% csrf_token %}
                  <input type="text" name="wallet_address" id="wallet_address_main"
                    style="height: 0px;width:0px;overflow:hidden;background-color:transparent;opacity:0;">
                  <input type="number" name="amount" id="amount_main"
                    style="height: 0px;width:0px;overflow:hidden;background-color:transparent;opacity:0;">
                  <input type="number" name="usdt_amount" id="usdt_amount_main"
                    style="height: 0px;width:0px;overflow:hidden;background-color:transparent;opacity:0;" step="any">
                  <input type="text" name="wallet_type" id="wallet_type_main"
                    style="height: 0px;width:0px;overflow:hidden;background-color:transparent;opacity:0;">
                  <button class="btn btn-outline-light" type="submit">Transfer</button>
                </form>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body px-0">
            <h4 class="card-title text-center">Recent Transfer</h4>
            <table class="table">
              {% for transfer in transfers %}
              <div class="card">
                <div class="card-body">
                  {% if transfer.verified %}
                  <h5 class="card-title">TRANSFER VERIFIED</h5>
                  {% else %}
                  <h5 class="card-title">TRANSFER PENDING</h5>
                  {% endif %}


                  <p class="card-text">{{ transfer.amount }} was sent to {{ transfer.wallet_address }} on {{ transfer.time }}</p>

                </div>
              </div>
              {% empty %}
              <p class="text-center">You have not made any transfer</p>
              {% endfor %}



            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  let obj = {

  }
  function firstChange() {
    let firstCon = document.querySelector('.first')
    let select = document.getElementById('pack')
    obj.wallet_type = select.value
    firstCon.style.display = 'none'
    let secondCon = document.querySelector('.second')
    secondCon.style.display = 'flex'
  }

  function secondChange() {
    let secondCon = document.querySelector('.second')
    let inpAmount = document.getElementById('value')
    let usdtvalue = document.getElementById('usdtvalue')
    obj.amount = inpAmount.value
    obj.usdtAmount = usdtvalue.value


    document.getElementById('wallet_address_main').value = document.getElementById('wallet_address').value
    document.getElementById('wallet_type_main').value = obj.wallet_type
    document.getElementById('amount_main').value = obj.amount
    document.getElementById('usdt_amount_main').value = obj.usdtAmount
    secondCon.style.display = 'none'
    let thirdCon = document.querySelector('.third')
    thirdCon.style.display = 'flex'
  }
  function getUsdtValue() {
    document.getElementById('second-button').style.display = 'none'
    let url = 'https://api.binance.com/api/v3/ticker/price?symbol=' + obj.wallet_type + 'USDT'
    console.log(url)
    fetch(url)
    .then(data => {
        return data.json()
    })
    .then(res => {
      let amount = document.getElementById('value')
      let usdtAmount = document.getElementById('usdtvalue')
      usdtAmount.value = amount.value * res.price
      document.getElementById('second-button').style.display = 'block'
    })
    .catch(error => console.log(error))
  }
  function thirdChange() {
    document.getElementById('wallet_address_main').value = document.getElementById('wallet_address').value
  }

</script>

{% endblock content %}