{% extends 'user/main.html' %} {% load static %}{% block content %}      
          
        <div class="main-panel">
          <div class="content-wrapper">
              <!--div class="row ">
              <div class="col-12">
                <div class="page-header" style="border: none; padding-bottom: 0px; margin-bottom: 10px;">
                    <h5 class="page-title"><i class="fas fa-wallet"></i> My Wallet </h5>
                </div>
              </div>
    
            </div-->
                  
              <div class="row">
                  <div class="col-12">
            <div class="card">
              <div class="card-body px-2">
                <h4 class="card-title"></h4>
                
                <div class="modal fade" id="trns" tabindex="-1" role="dialog" aria-labelledby="trns" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body text-center">
                              <form action="" method="post">
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Choose Wallet Type <span class="text-danger">*</span></label>
                                <select name="category" class="form-control">
                          <option label="Choose Wallet Type"></option>
                    <option value="Bitcoin">Bitcoin</option>
                    <option value="Ethereum">Ethereum</option>
                    <option value="Litecoin">Litecoin</option>
                    <option value="Ripple">Ripple</option>
                    <option value="Tether(USDT)">Tether(USDT)</option>
                      </select>
                              
                              </div>
                                <input type="hidden" value="320" name="id">
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Enter Your Wallet Address <span class="text-danger">*</span></label> 
                                <input type="text" placeholder="Wallet Address" name="name" class="form-control" >
                              </div>
                                <div class="text-center">
                            <button class="btn btn-success" type="submit" name="add_wallet">Add Wallet</button>
                        <button type="button" class="btn btn-outline-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
                          
                        </div>
                            </form>
                    
                          </div>
                          
                      </div>
                    </div>
                      </div>
                
                <div class="form-group text-center">
                  <label class="form-control-label"><span class="tx-warning">Please add a wallet address where to receive your withdrawal </span></label>
                  <br><a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#trns"><i class="fa fa-plus mg-r-5"></i> Add Wallet</a>
              </div>
                
                    <table class="table table-striped">
                      <tbody>
                                </tbody>
                    </table>
              </div>
            </div>
                  </div>
              </div>
          </div>
            
   
      
    {% endblock content %}